* { /* Zero out all margins and padding to override browser defaults -RH*/
  margin: 0;
  padding: 0;
}

body {
	min-height: 100%; /* to make the footer stay at bottom in all browsers -RH*/
}

#page {
	width: 1008px; /* width of pagefilm.png * 2, plus 960 -RH*/
	margin: auto;
	background-color: #c6c6c6; /* This controls the background color for the article and content, which can't have their own. Once an offical color sceme is decided, reel.png needs to be updated to match. -RH*/
	min-height: 100%; /* the footer staying on the bottom depends on this -RH*/
	position: relative;
}

@-moz-document url-prefix() {
	#page {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	} /* Firefox ignores min-height, and uses height as min-height. This makes it behave correctly. -RH*/
}

/* uncomment this to make film left move when you scroll */
#film-left {
	background: black url(../images/pagefilm.png);
	width: 24px;
	height: 100%;
	position: absolute;
	left: 0;
}

/* uncomment this to make film left stay put when you scroll */
/*
#film-left {
	background: black url(../images/pagefilm.png);
	width: 24px;
	height: 100%;
	position: fixed;
	left: 50%;
	margin-left: -504px;
} */

#film-left img {
	width: 166px;
	height: 152px;
	z-index: 1005;
	position: fixed;
	margin-left: -5px;
	margin-top:-2px;
}

/* this controls the film on the right side. -RH*/
#film-right {
	background: black url(../images/pagefilm.png); 
	width: 24px;
	height: 100%;
	position: absolute;
	right: 0;
}

#film-right img {
	width: 166px;
	height: 152px;
	z-index: 1005;
	position: absolute;
	bottom: 0;
	right: -2px;
}

#content {
	width: 960px;
	margin: auto; /* Centers content on page -RH*/
	padding-top: 176px; /* height of the header -RH*/
	z-index: 25;
	overflow: auto;
}

header {
	background: url(../images/ShutterFlixBannerLight.jpg) no-repeat;
	width: 960px; /* set background as the banner to aoivd having to type in the <img src> to every html page. -RH*/
	height: 176px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -480px;
	position: fixed;
	z-index: 1000; /* must be the highest on page. label others below 95, if needed */
}

header h1 {
	Color: whitesmoke;
	padding-top: 56px;
	padding-left: 440px;
	padding-bottom: 36px;
	font-family: Algerian, Times, serif;
	font-size: 44px;
	height: 57px; /** one less than it should be to prevent exposing any gaps at odd number zoom levels -RH*/
}

nav{
	height: 26px;
}

nav ul {
	padding: 5px; 
	list-style-type: none; /* Turns off the bullets -RH*/
	text-align: center; /* Centers nav bar on page, not the text inside -RH*/
	background-color: #000; /* change as desired*/
}

nav ul li {
	display: inline; /* makes nav bar horizontal -RH*/
}

nav ul li a {
	text-decoration: none; /* turns off the link's underline -RH*/
	padding: 3px 14px; /* gives the link space inside it's individual block */
	color: #966; /* change as desired*/
	background-color: #300; /* change as desired*/
}

nav ul li a:hover {
	background-color: #966;
	color: #300;
}
nav ul li a:link, nav ul li a:visited{
	color:#966
}
article {
	padding-bottom: 176px; /* Height of footer. important so the article doesn't get hidden behind the footer. must be at least 152px -RH*/
	width: 960px; 
	overflow: auto;
}

article#home {
	width: 910px;
	margin: auto;
	padding-top: 25px;
}

article#deals {
	width: 910px;
	margin: auto;
	padding-top: 25px;
}

#deals table {
  width: 100%;
  margin: 10px auto;
  border: solid 3px black;
  border-collapse: collapse;
  background-color: #e9dfc6;
}

#deals caption {
  padding: 4px;
  color: white;
  background-color: #551111;
  font-style: italic;
  font-size: 1.2em;
}

#deals td {
  padding: 6px;
  border: solid 1px black;
}

#deals tr.stripe {
  background-color: orange;
}

#deals tr:hover {
  color: white;
  background-color: black;
}

#deals tr.stripe :hover {
  color: white;
  background-color: black;
}

footer { /* stays on the bottom of the webpage, but is hidden when you scroll up enough. */
	width: 960px;
	height: 150px;
	position: absolute; 
	bottom: 0;
	left: 50%;
	margin-left: -480px;
	background: green url(../images/curtains-banner.jpg) bottom no-repeat;
	/* Haven't made the footer img yet. this is placeholder. -RH*/
	z-index: 995; /* needs to be less than 100 to not overlap the header -RH*/
}

footer small {
	color: whitesmoke;
	text-align: center;
	display: block;
	margin-top: 75px;
}

a:link, a:visited {
	color: #300; /* change as desired */
}

a:hover {
	color: #966; /* change as desired */
}

/* What follows is the Current Showings specific section */

.anchor{
  display: block;
  height: 175px;
  margin-top: -175px;
  visibility: hidden}/*Makes it so that the links at top account for header*/

div.showtimes ul{
	font-weight: bold;
	padding:10px;
	list-style-type:none}

div.showtimes p{
	text-indent:0em;
	padding:10px;
	text-align:justify;
	text-transform:none}/*Removed paragraph text indent so we can add it to others*/

div.showtimes h3{
	position:relative;
	padding:10px;
	text-transform:uppercase}

div.ShowtimesLeft{
	overflow:auto}

div.ShowtimesRight{
	overflow:auto}

div.ShowtimesLeft a:link, div.ShowtimesLeft a:visited {
	color:#966}

div.ShowtimesRight a:link, div.ShowtimesRight a:visited {
	color:#966}

div.ShowtimesLeft img{
	position:relative;
	float:left;
	width:200px}

div.ShowtimesRight img{
	position:relative;
	float:right;
	width:200px}
	
div.MovieInfoLeft{
	position:relative;
	float:right;
	clear:right}

div.MovieInfoRight{
	position:relative;
	float:left;
	clear:left}
	
div.ShowtimesLeft h3{
	clear:both;
	text-align:center;
	background-color:#300}/*Color should be changed to match color scheme*/

div.ShowtimesRight h3{
	clear:both;
	text-align:center;
	background-color:#300}/*Color should be changed to match color scheme*/

div.ShowtimesLeft p{
	position:relative;
	width:740px;
	right:0px}

div.ShowtimesRight p{
	position:relative;
	width:740px;
	left:0px}


/* What follows is the Film Festival specific section */

div.filmfest{
	margin:20px} /* Get everything spaced nicely */

/* Organized lists need extra left padding since we removed it earlier */
div.filmfest ol{
	padding-left:20px}

div.filmfest p{
	text-align:justify} /* Me likey justification */

div.filmfest img{
	width:500px;
	float:right;
	margin-left:20px}

/* What follows is the Tickets specific section */

div#buytickets {
        position: relative;
        top: 10px;
        left: 25px;
}

div#seats {
        position: relative;
        top: 25px;
        left: 18px;
}

div#payment {
        position: absolute;
        top: 185px;
        left: 370px;
}

form.ticket {
	width: 935px;
}

td.seat {
		width: 35px;
		height: 35px;
		background-color: #999999;
}
td.empty {
		width: 35px;
		height: 35px;
}
.seat:hover {
		background-color: #6B6B6B;
}		

.seatselected {
		background-color: #6B6B6B;
}

.form {
        margin: 10px;
}



/* -----------These are the style for the locations web site-----------
                   Styles are set per every location

----------------------------------------------------------------------|*/
div.locationsProvo {                                                 

width: 260px; font-size: 14px; 
font-weight: bold; height: 265px; margin: 5px 5px 5px 20px; 
text-align: center; background-color: #293741; 
padding: 10px; float: left

}

div.locationsLasVegas {

width: 280px; font-size: 14px; 
font-weight: bold; height: 265px; margin: 5px 5px 5px 20px; 
text-align: center; background-color: #293741; 
padding: 10px; float: left; position:relative

}

div.locationsDenver{

width: 275px; font-size: 14px; 
font-weight: bold; height: 265px; margin: 5px 5px 5px 20px; 
text-align: center; background-color: #293741; 
padding: 10px; float: left

}

div.locationsSaltLake{

width: 260px; font-size: 14px; 
font-weight: bold; height: 265px; margin: 5px 5px 5px 20px; 
text-align: center; background-color: #F5757B; 
padding: 10px; float: left

}

div.locationsPocatello{

width: 280px; font-size: 14px;
font-weight: bold; height: 265px; margin: 5px 5px 5px 20px; 
text-align: center; background-color: #F5757B; 
padding: 10px; float: left

}

div.locationsPhoenix{

width: 275px; font-size: 14px; 
font-weight: bold; height: 265px; margin: 5px 5px 5px 20px; 
text-align: center; background-color: #F5757B; 
padding: 10px; float: left

}                                                              /*|
-----------------------------------------------------------------|*/



/*--------These are the styles for the concessions page---------


-----------------------------------------------------------------|*/
div.Concessions{

font-size: 14px; font-weight: bold; margin: 20px;
text-align: center; padding: 10px

}
   
img.picture{

width: 830px; height: 300px

}                                                              /*|
-----------------------------------------------------------------|*/